


/*========HEADER ========================================================== */
header{
	
	overflow: hidden;  /* this allow bacground color to fill header area */
	
	display: flex; /* to make all header element in a line */
	align-items: center;    /* allign all header element in header center certiclaly*/
	justify-content: center;
	
}





.brand_name{
		
	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
	background-image: url(images/logo.jpg);

}  

.brand_name a{
	text-decoration: none;
	letter-spacing: 3px;
	color: #fff;
	font-style: italic;
	text-align: center;
	padding: 5px;

}

.brand_name_span{
	background-color: #000;
	letter-spacing: 8px;


}



.menu li{
	display: inline-block;  /* to make menu item to dispaly in line */

	padding: 10px;
	text-transform: uppercase;
	/* float: right; */ /* this makes list item display reverse */
	letter-spacing: 2px;
	font-weight: bold;

}

.menu a{
	text-decoration: none;
	color: #000;

}
.menu a:hover{
	text-decoration: underline;
	color: #fff;
	background-color: #000;


}


/*=======SECTION ==============================================*/

section{
	margin-top: 10px;
}

/*======HERO SECTION ==================================================*/



.hero_image{
	
	
	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/beachNet.jpg);

 	text-align: center;
  	color: white;

  	width: 90%;
  	/*height: auto; */
	
	
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto; 

	padding-bottom: 50px; 
	padding-top: 50px;
	
	 

}


.hero_button{
	background-color: #008CBA; /* Blue */
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	vertical-align: middle;

}

a{
	text-decoration: none;
	display: block;
}

/* ==========ANNOUNCEMENT ===================================*/

.ann h1{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
	color:#000 ;
	

}
.ann_row{
	display: flex;
	flex-wrap: wrap;

	width: 90%;

	margin-left: auto;
	margin-right: auto;

	

}

.ann_content{
	flex: 10%;
	padding: 10px;
	
	/* border-style: solid; */
	margin: 10px;

	text-align: center;
	background-color: #ededff;
  	

}

.ann_content h3{
	text-align: center;
	
	color: #000;
	
	padding: 0.5rem;

	
}

.ann_content  a{
	text-decoration: none;
	color: #000;
	text-align: left;
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px;

}

.ann_content .external-link{
	background-color: yellow;
}


/*======= SERVICE ==============================================*/
.service h1{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
	

}
h1 span{
	background-color: #ededff;
}

.serv_row{
	display: flex;
	flex-wrap: wrap;

	width: 90%;

	margin-left: auto;
	margin-right: auto;

	background-color: #ededff;

}

.serv_content{
	flex: 20%;
	padding: 10px;
	
	/*border-style: solid; */
	margin: 10px;

	text-align: center;
  	color: white;

}

.serv_content h3{
	text-align: center;
	background-color: #000;
	color: #fff;
	
	padding: 0.5rem;

	margin-top: -20px;

}


/* Program service*/
.serv1{
	
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
 /* position: relative; */

 	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/game1.jpg);

 	
	
}
/* tournament service*/
.serv2{
	
	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/tournament.jpg);

	 
}

/* eat and drink service*/
.serv3{
	
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/sand.jpg);
}

/* Venue service*/
.serv4{
	
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/spike.jpg);
}

.serv5{
	
	background-color:#000 ;
}

.serv_button{
	background-color: #f44336; /* Red */
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}

/*===================== FOOTER =====================================*/

footer {
		
	right: 0;
	bottom: 0; 
	left: 0;   

	padding: 0.1rem;
	text-align: center;
	background-color: #000;
	color: #fff;
	letter-spacing: 3px;

	position: relative;

	display: flex;
	
	
	
	align-items: center;    /* allign all header element in header center certiclaly*/
	justify-content: center;
	
	
}

.email_a{
	color: #000;
	display: inline;

}

.footer-right{
	float: right;
	padding-left:  40px;
	
	text-align: right;
	width: 23%

}
.footer-middle{
	padding-left: 40px;
	padding-right: 40px;
	border-right: thick solid #fff;
	border-left: thick solid #fff;
}

.footer-left{
	float: left;
	text-align: left;
	
	padding-right: 40px;
	width: 23%

}
.footer-left a{
	text-transform: none;
	color: #fff;
}


table{
	margin: 0 auto; /* keep table to middle */
	font-size: 1.5em;
	text-align: right;


}
.team_table th , .team_table td{
	border: 1px solid black;
	text-align: center;
}


.team_table th{
	background-color: #000;
	color: yellow;
}
input{
	width: 100%;
	font-size: 20px;
}

}
input[type=checkbox] {
    transform: scale(1.5);
}

.select-level{
	width: 100%;
	font-size: 20px;
}


#comments{
	font-size: 20px;

}
#contact-form h1{
	text-transform: uppercase;
	font-weight: 30px;


}

.two-column{
	column-count: 3;
}

td{
	padding: 10px;
}

.justfy-text{
	text-align: justify;
}